ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 64px;
}

li {
  max-width: calc((100% - 256px) / 3);
}

img {
  width: 100%;
}
